/*main tags*/
* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0px;
	padding: 0px;
	font-size: 13px;
	color: #000;
	font-family: 'Roboto Slab', serif;
}

ul {
	padding: 0px;
}

li {
    list-style-type: none; /* Убираем маркеры */
}

a {
	text-decoration: none;
}

.btn {
	font-size: 0.9rem;
	border-radius: 30px;
	background: #000;
	color: #fff;
}

.btn:hover{
	background: #fff;
	color: #000;
}


/*top-bar*/

.top-bar {
	padding: 10px 0px;
	font-size: 0.7rem;
	color: #C4C4C4;
}

.top-bar-link {
	color: #C4C4C4;
}

/*mid-bar*/

.mid-bar {
	padding: 15px 0px;
}

.mid-bar-link {
	font-size: 0.7em;
	color: #000;
	padding: 4px;
}

.mid-bar-link:hover { 
	color: #000;
}

/*content*/

.content_goods__item {
	margin-bottom: 5%;
}

/*card*/

.card {
	padding: 20px;
}

.card_promotions {
	background: #fff;
	color: red;
	position: absolute;
    top: 1%;
    left: 2%;
    padding: 2%;
    font-weight: 600;
}

.card-title {
	font-size: 0.8rem;
	padding: 5%;
	margin: 0px;
}

.card-price {
	font-size: 1.2rem;
	color:#000;
	font-weight: 600;
}

.card-status {
	color: #2AB64C;
	margin: 5% 0%;
}

/*вариант с разными цветами статуса товара

.card-presence { в наличии 
	color: #2AB64C;
}

.card-discount { со скидкой
	color: #B61F00;
}

.card-order { под заказ
	color: #3C6AFF;
}*/



/*footer*/

.footer {
	padding: 20px 0px; /*именно рх!*/
	background: #333333;
	color: #999999;
}

.footer a{
	color: #999999;
}

.footer li {
	padding: 3px 0px;
}

.footer-logo{
	color: #fff;
	display: none;
}

.footer-logo a {
	color: #fff;
}

.summary-item {
	padding: 5px 0px;
}

.footer-title {
	color: #fff;
	font-weight: 600;
	font-size: 0.8rem;
}

.btn-footer {
	background:#fff;
	color:#999999;
	border-radius: 10px;
	padding: 5px;
}

.toggler-plus {
	width: 19px; /*(костыль, не трогать)*/
	font-weight: 600;
}

.copuright {
	color: #fff;
	text-align: center;
}

.copuright__phone {
	font-size: 1.2rem;
	font-weight: 600;
}

.copuright__phone-img {
	padding-right: 10px;
}

.copuright__site {
	padding-bottom: 10px;
}

.copuright__logo {
	width: 40%;
	margin: 0 auto;
}
