/*main tags*/
* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0px;
	padding: 0px;
	font-size: 12px;
	color: #ADB6AC;
	font-family: 'Roboto Slab', serif;
}

a {
	color: #ADB6AC;
	text-decoration: none;
}

a:hover {
	color: #000;
	text-decoration: none;
}

ul, li {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

/*.wrapper {
	height: 100vh;
	display: flex;
	flex-direction:column;
	justify-content:space-between;
}*/

.top-bar, .mid-bar {
	padding: 10px;
}


.mid-bar {
	color: #000;
	margin: 7% 0;
}


.mid-bar a {
	color: #000;
}

.catalog_nav__list {
	flex-wrap: wrap;
	font-size: 1.1rem;
}
